@inject Services.AuthenticatorService _authenticatorService
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    [Parameter]
    public string WindowsUser { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //new UserData { Name = "user1", Roles = "user" },
        //new UserData { Name = "admin1", Roles = "admin" },
        //new UserData { Name = "batman", Roles = "admin, batman" }

        //await _authenticatorService.SetAuthInfo("batman");
        //await _authenticatorService.SetAuthInfo("user1");
        await _authenticatorService.SetAuthInfo("user1");
    }
}